.subComponent-wrap {
	width: 90%;
	margin: auto;
	padding: 5px 0px;
	/*word-break: break-word;*/
	/*overflow-wrap: break-word;*/

	display: grid;
	grid-gap: 10px;
	grid-auto-flow: row;
	grid-auto-rows: auto;
	grid-auto-columns: auto;
	grid-template-areas: 
		"domain-side domain-main"
		
}

.side-domain {
	grid-area: domain-side;
}

.main-domain {
	grid-area: domain-main;
	margin: 10px 0px 10px 0px;
}

.header {
	font-family: Arial, Helvetica;
	font-variant: small-caps;
	font-weight: bold;
	justify-items: start;
	align-self: center;
}

.body {
	font-family: "Courier New", Helvetica;
	align-self: center;
	justify-items: start;
}